
<h1>Hello</h1>

<form action="/data" method="post">
    <label for="name">Full Name: <input type="text" name="name" required/></label>
    <label for="birth">Birthday: <input type="text" name="birth" required/></label>
    <input type="submit" value="add"/>
</form>

Last record: {{content.date_of_birth}}  {{content.full_name}}


<script src="https://www.gstatic.com/firebasejs/3.3.0/firebase.js"></script>
<script>
    // Initialize Firebase

</script>

